{% extends "vietskill/base.html" %}

{% load staticfiles %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    {# Page Heading #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reset Password </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-key"></i> Reset Password
                </li>
            </ol>
        </div>
    </div>{# /.row  #}

    <div class="row">
        <div class="col-lg-12 text-center">
            <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>

            <p>You should be receiving it shortly.</p>
        </div>
    </div>{# /.row  #}

{% endblock %}