{% extends "vietskill/base.html" %}

{% load staticfiles %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    {# Page Heading #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reset Password</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-key"></i> Reset Password
                </li>
            </ol>
        </div>
    </div>{# /.row  #}

    <div class="row">
        <div class="col-lg-12 text-center">
            <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p><br>
        </div>
    </div>{# /.row  #}

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7">

            <form class="form-horizontal" method="post" action=".">
                {% csrf_token %}
                {{ form.email.errors }}

                <div class="form-group">
                    <label class="control-label col-sm-5" for="id_email">E-mail address:</label>
                    <div class="col-sm-7">
                        <input class="form-control" placeholder="example@gmail.com" id="id_email" maxlength="254"
                               name="email" type="email" required autofocus=""/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-6">
                        <button type="submit" class="btn btn-default">Reset my password</button>
                    </div>
                </div>

                {% comment %}
                <p>
                    <label for="id_email">E-mail address:</label> {{ form.email }}
                    <input type="submit" value="Reset my password"/>
                </p>
                {% endcomment %}
            </form>
        </div>
        <div class="col-lg-3">
        </div>
    </div>{# /.row  #}

{% endblock %}