{% extends "vietskill/base.html" %}

{% load staticfiles %}

{% block title %} Reset Password {% endblock %}

{% block content %}

    {# Page Heading #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reset Password</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-key"></i> Reset Password
                </li>
            </ol>
        </div>
    </div>{# /.row  #}

    <div class="row">
        <div class="col-lg-12 text-center">
            {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form method="post" action=".">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}<label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}<label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed"</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    {% endif %}
        </div>
    </div>{# /.row  #}

{% endblock %}
