{% extends "vietskill/base.html" %}

{% load staticfiles %}

{% block title %} Change password {% endblock %}

{% block content %}

    {# Page Heading #}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Change password</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-unlock"></i> Change password
                </li>
            </ol>
        </div>
    </div>{# /.row  #}

    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7">
            <form class="form-horizontal" method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label col-sm-5" for="id_old_password">Old password:</label>
                    <div class="col-sm-7">
                        <input class="form-control" placeholder="******" id="id_old_password" name="old_password" type="password" required autofocus=""/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-5" for="id_new_password1">New password:</label>
                    <div class="col-sm-7">
                        <input class="form-control" placeholder="******" id="id_new_password1" name="new_password1" type="password" required autofocus=""/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-5" for="id_new_password2">New password confirmation:</label>
                    <div class="col-sm-7">
                        <input class="form-control" placeholder="******" id="id_new_password2" name="new_password2" type="password" required autofocus=""/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-6 col-sm-6">
                        <button type="submit" class="btn btn-default">Change password</button>
                    </div>
                </div>
                {% comment %}
                {{ form.as_p }}
                <input type="submit" value="Change password"/>
                {% endcomment %}
            </form>
        </div>
        <div class="col-lg-3">
        </div>
    </div>{# /.row  #}

{% endblock %}
