{% extends "vietskill/base.html" %}

{% load staticfiles %}
{% load extra_tags %}

{% block title %} Plan {% endblock %}

{% block content %}

    {# Page Heading #}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12">
            <h1 class="page-header">Plan</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-gears"></i> <a href="{% url 'plan' %}">Schedule</a>
                </li>
                <li class="active">
                    <i class="fa fa-line-chart"></i> Plan
                </li>
            </ol>
        </div>
    </div>{# /.row  #}
        <div class="row">
            <div class="col-lg-12">
            <h4 class="schedule pull-left">Recent Activities</h4>
            <a class="btn btn-success pull-right new-plan" href="#">Create new plan</a>
            </div>
        </div>

        <div class="row">

                <div class="col-lg-12">
                    <hr>
                    <div class="btn-group plan-sorts" role="group" aria-label="...">
                      <a type="button" class="btn btn-default active">All</a>
                      <a type="button" class="btn btn-default">New</a>
                      <a type="button" class="btn btn-default">In Progress</a>
                      <a type="button" class="btn btn-default">Completed</a>
                    </div>
                </div>
        </div>

        <div class="row">
                {% if plans %}
                <div class="col-lg-12">

                    {% for row in plans %}
                    <div class="row">
                        <!-- An event block -->
                        {% for col in row  %}
                        <div class="col-xs-4">
                            <div class="plan-block"

                                 data-json='{"id": {{col.id}}, "start_date": "{{ col.start_date|date:'d/m/Y' }}",
                                  "due_date": "{{ col.due_date|date:'d/m/Y' }}", "content": "{{ col.content }}",
                                   "status": "{{ col.status }}", "staffs_ref": "{{ col.staffs_ref }}" }'>

                                <div class="plan-bread color{{ col.id|mod:5 }} pull-left">
                                    <span class="plan-status"><b>{{ col.status|plan_status }}</b></span> <br/>
                                    <span class="plan-duration"><b>{{ col.duration }}</b></span><br />
                                    <span class="plan-unit">days</span>
                                </div>
                                <p class="plan-detail pull-left"><b class="plan-content">
                                    {{ col.start_date|date:"M jS"}} - {{ col.due_date|date:"jS" }}</b>
                                {{ col.content }}<br />
                                {%  for p in col.staffs.all %}
                                    <a href="{{ p.email }}">{{ p.name }}</a>
                                {% endfor %}
                                </p>
                                <button type="button" class="close button-edit" data-dismiss="alert" aria-label="Close"><span class="glyphicon glyphicon-pencil"></span></button>

                            </div>
                        </div>
                        <!-- Event ends -->
                        {% endfor %}

                    </div>
        {% endfor %}

    </div>
    {% endif %}

</div>

<!-- Hidden Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="event-form" method="POST" action="{% url 'update_plan' pk=0 %}">
      {% csrf_token %}

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Plan</h4>
      </div>
      <div class="modal-body">


            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                          <!-- Content block -->
                          <div class="col-lg-6">
                              <div class="form-group">
                                <label for="inputTime">Content</label>
                                <textarea class="form-control" name="content" id="inputContent" placeholder="Enter Plan" rows="3"></textarea>
                              </div>

                          </div>
                          <!-- End block -->


                      <div class="col-lg-6">
                          <label for="inputTime">Time</label>
                          <div class="form-inline">
                              <div class="form-group">
                                <input type="text" class="input_date form-control" name="start_date" id="inputStartDate" placeholder="Start date">
                              </div>
                              <div class="form-group">
                                <input type="text" class="input_date form-control" name="due_date" id="inputDueDate" placeholder="Due date">
                              </div>
                          </div>
                      </div>

                      </div>
                    </div>
                </div>

              <div class="rơw">
                    <div class="row">

                          <div class="col-lg-6">
                              <label for="inputTime">Staffs</label>
                              <div class="form-group">
                                <input type="text" data-role="tagsinput" name="staffs" class="form-control" id="inputStaffs" placeholder="Enter staffs" />
                              </div>
                          </div>

                     <!-- Status block -->
                      <div class="col-lg-6">
                        <div class="form-group">
                            <label for="inputStatus">Status</label>
                            <br>
                            <label class="radio-inline status-radio">
                              <input type="radio" name="status" id="inlineRadio2" value="2"> In Progress
                            </label>
                            <label class="radio-inline status-radio">
                              <input type="radio" name="status" id="inlineRadio3" value="1"> Completed
                            </label>
                            <label class="radio-inline status-radio">
                              <input type="radio" name="status" id="inlineRadio1" value="3" checked> New
                            </label>

                        </div>
                      </div>
                      <!-- End of block -->



                    </div>
              </div>


      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a type="button" href="{% url 'delete_plan' pk=0 %}" class="btn btn-danger delete_item">Delete</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>

<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<script>
// Load Staff data
var data = [];
var staff_objects = {};
{% for staff in staffs  %}
    var staff_dict = {"value": {{  staff.id }}, "text": "{{  staff.name }}", "email": "{{  staff.email }}" }
    data.push(staff_dict);
    staff_objects[String({{  staff.id }})] = staff_dict;

{% endfor %}
var staff_data = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: data
});
staff_data.initialize();

var elt = $('input#inputStaffs');
elt.tagsinput({
  tagClass: function(item) {
    switch (item.value % 5 + 1) {
      case 1    : return 'label label-primary';
      case 2    : return 'label label-danger label-important';
      case 3    : return 'label label-success';
      case 4    : return 'label label-default';
      case 5    : return 'label label-warning';
    }
  },
  itemValue: 'value',
  itemText: 'text',
  typeaheadjs: {
    name: 'staff_data',
    displayKey: 'text',
    source: staff_data.ttAdapter()
  }
});
// Load some staffs
elt.tagsinput('add', data[0]);
elt.tagsinput('add', data[1]);
elt.tagsinput('add', data[2]);
elt.tagsinput('add', data[3]);

// Run timepicker
function DemoTimePicker(){
	$('.input_time').timepicker({setDate: new Date()});
}

$(document).ready(function() {
    // Initialize datepicker
    $('.input_date').datepicker({setDate: new Date()});
    // Load Timepicker plugin
    LoadTimePickerScript(DemoTimePicker);
    OpenPlanModal();
    OpenNewPlan("{% url 'new_plan' %}");
})

</script>




{% endblock %}