{% extends "vietskill/base.html" %}

{% load staticfiles %}
{% load extra_tags %}

{% block title %} Teaching Schedule {% endblock %}
{% block content %}

    {# Page Heading #}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12">
            <h1 class="page-header">Teaching Schedule</h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="{% url 'index' %}">Dashboard</a>
                </li>
                <li>
                    <i class="fa fa-gears"></i> <a href="{% url 'event' %}">Schedule</a>
                </li>
                <li class="active">
                    <i class="fa fa-line-chart"></i> Teaching Schedule
                </li>
            </ol>
        </div>
    </div>{# /.row  #}

<!-- Teaching data table -->
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<span>Teacher's Classes</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
					<a class="expand-link">
						<i class="fa fa-expand"></i>
					</a>
					<a class="close-link">
						<i class="fa fa-times"></i>
					</a>
				</div>
				<div class="no-move"></div>
			</div>
			<div class="box-content no-padding">
				<table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-3">
					<thead>
						<tr>
							<th>Teacher</th>
							<th>Monday</th>
							<th>Tuesday</th>
							<th>Wednesday</th>
							<th>Thursday</th>
							<th>Friday</th>
							<th>Saturday</th>
                            <th>Sunday</th>
						</tr>
					</thead>
					<tbody>
                    {% if teacher_schedule %}
                        {% for row in teacher_schedule %}
						<tr>
                            {%  for teacher in row|slice:"1" %}
							<td><b class="teacher-name">{{ teacher.name }}</b><img class="pull-left" src="{{ teacher.picture.url }}"></td>
                            {% endfor %}
                            <!-- Day sessions -->
                            {% for col in row|slice:"1:" %}
							<td><div >
                                {% for item in col %}
                                <span class="{{ item.id|schedule_class }}"
                                      data-json='{"id": {{item.id}}, "session": "{{ item.session }}",
                                                 "subject": "{{ item.subject }}", "day": "{{ item.day }}",
                                                 "room": "{{ item.room }}", "staff": "{{ item.staff_id }}",
                                                 "class": "{{ item.classes }}" }'>
                                    <span class="class-duration">{{ item.get_session }}</span>
                                    {{ item.get_subject }}
                                </span>
                                {% endfor %}
                                </div>
                            </td>
                            {% endfor %}
						</tr>
                       {% endfor %}
                    {% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

                        <!-- Hidden Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="event-form" action="{% url 'update_schedule' %}" method="POST">
      {% csrf_token %}

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Item</h4>
      </div>
      <div class="modal-body">


            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                          <!-- Subject block -->
                          <div class="col-lg-6">
                          <label for="inputSubject">Subject</label>
                          <br>
                            <select name="subject" style="width: 90%">
                                {% for sub in subject_choices %}
                                <option value="{{ sub.id }}">{{ sub.value }}</option>
                                {% endfor %}
                            </select>
                          </div>
                          <!-- End block -->


                      <div class="col-lg-6">
                          <label for="inputDay">Day</label>
                          <br>
                            <select name="day" style="width: 90%">
                              {% for day in day_choices %}
                                  <option value="{{  day.id }}">{{  day.value }}</option>
                                {% endfor %}
                            </select>
                      </div>

                      </div>
                    </div>
                </div>


              <div class="rơw">
                    <div class="row">

                          <div class="col-lg-6">
                          <label for="inputTeacher">Teacher</label>
                          <br>
                            <select name="staff" style="width: 90%">
                            {% for teacher in teacher_list %}
                              <option value="{{  teacher.id }}">{{  teacher.name }}</option>
                            {% endfor %}
                            </select>

                          </div>

                     <!-- Status block -->
                      <div class="col-lg-6">
                          <label for="inputSession">Session</label>
                          <br>
                            <select name="session" style="width: 90%">
                              {% for session in session_choices %}
                                  <option value="{{  session.id }}">{{  session.value }}</option>
                                {% endfor %}
                            </select>
                      </div>
                      <!-- End of block -->



                    </div>
                    <div class="row">
                          <div class="col-lg-6">
                              <label for="inputRoom">Room</label>
                              <div class="form-group">
                                <input name="room" type="text" class="form-control" id="inputRoom" placeholder="Enter room" />
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <label for="inputCLass">Class</label>
                              <div class="form-group">
                                <input type="text" name="classes" class="form-control" id="inputClass" placeholder="Enter class" />
                              </div>
                              <input type="hidden" name="id">
                          </div>

                    </div>
              </div>
              <div class="rơw">


              </div>


      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save changes</button>
        <a href="{% url 'delete_schedule' pk=0 %}" type="button" class="btn btn-danger delete_item">Delete</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>


<script type="text/javascript">
// Run Datables plugin and create 3 variants of settings
function AllTables(){
	TestTable3();
	LoadSelect2Script(MakeSelect2);
}
function MakeSelect2(){
	$('select').select2();
	$('.dataTables_filter').each(function(){
		$(this).find('label input[type=text]').attr('placeholder', 'Search');
	});
}
$(document).ready(function() {
	// Load Datatables and run plugin on tables
	LoadDataTablesScripts(AllTables);
	// Add Drag-n-Drop feature
    LoadScheduleModal();
});
</script>
<!-- End of datatable -->

{% endblock %}